<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>thym-lay</title>

    <link rel="stylesheet" href="../common/layui/css/layui.css"
          type="text/css"/>

</head>


<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">


    <div class="layui-header">


        <div class="layui-logo">jiekou 后台</div>


        <ul class="layui-nav layui-layout-left">


            <li class="layui-nav-item">


                <dl class="layui-nav-child">


                    <dd><a href="">邮件管理</a></dd>


                    <dd><a href="">消息管理</a></dd>


                    <dd><a href="">授权管理</a></dd>


                </dl>


            </li>


        </ul>


        <ul class="layui-nav layui-layout-right">


            <li class="layui-nav-item">


                <dl class="layui-nav-child">


                    <dd><a href="">基本资料</a></dd>


                    <dd><a href="">安全设置</a></dd>


                </dl>


            </li>


        </ul>


    </div>


    <div class="layui-side layui-bg-black">


        <div class="layui-side-scroll">

            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->


            <ul class="layui-nav layui-nav-tree" lay-filter="test">


                <li class="layui-nav-item layui-nav-itemed">

                    <a class="" href="javascript:;">menus</a>


                    <dl class="layui-nav-child">


                        <dd><a href="javascript:;">列表一</a></dd>


                        <dd><a href="javascript:;">列表二</a></dd>


                        <dd><a href="javascript:;">列表三</a></dd>


                        <dd><a href="">超链接</a></dd>


                    </dl>


                </li>


                <li class="layui-nav-item">

                    <a href="javascript:;">解决方案</a>


                    <dl class="layui-nav-child">


                        <dd><a href="javascript:;">列表一</a></dd>


                        <dd><a href="javascript:;">列表二</a></dd>


                        <dd><a href="">超链接</a></dd>


                    </dl>


                </li>


                <li class="layui-nav-item"><a href="">云市场</a></li>


                <li class="layui-nav-item"><a href="">发布商品</a></li>


            </ul>


        </div>


    </div>


    <div class="layui-body">

        <!-- 内容主体区域 -->


        <div style="padding: 15px;">main content</div>


    </div>


    <div class="layui-footer">

        <!-- 底部固定区域 -->

        © jiekou.com - footer


    </div>

</div>


<script th:src="@{/static/common/layui/layui.js}" src="../common/layui/layui.js"></script>


<script>

    //JavaScript代码区域

    layui.use(['layer'], function () {

        var layer = layui.layer;

        layer.msg('Hello World');

    });

</script>

</body>

</html>