<link rel="stylesheet" href="../common/layui/css/layui.css" type="text/css">
<script type="javascript" src="../common/layui/layui.js"></script>
<footer class="footer-main" id="footer">
    <div class="layui-container" style="width:50%">
        <div class="layui-container" style="width: 50%">
            <div class="layui-inline">© 2020 group.yuyue MIT license</div>
        </div>
        <div class="layui-container" style="width: 60%">
             <span class="layui-breadcrumb" lay-separator="|">
                <a href="">Github</a>
                <a href="">知乎</a>
                <a href="">CSDN</a>
                <a href="">支持</a>
                <a href="">博客</a>


            </span>
        </div>


    </div>

</footer>